* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 0px; /* увеличили под новую высоту */
  background: #fff;
  color: #222;
}

/* HEADER */

.site-header {
  position: relative;
  top: 0;
  width: 100%;
  height: 180px; /* было 140 */
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.logo {
  height: 150px; /* было 110 */
  object-fit: contain;
}

/* NAV */

.nav {
  text-align: center;
  margin: 40px 0;
}

.category {
  padding: 10px 20px;
  border: 1px solid #c98ca3;
  background: none;
  cursor: pointer;
}

.category.active,
.category:hover {
  background: #c98ca3;
  color: white;
}

/* PRODUCTS */

.products {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px 80px;
}

.product {
  margin-bottom: 80px;
}

.product-title {
  font-size: 26px;
  margin-bottom: 8px;
}

.product-sizes {
  margin-bottom: 8px;
  letter-spacing: 2px;
}

.product-price {
  margin-bottom: 20px;
  font-size: 20px;
  color: #c98ca3;
}

/* GALLERY */

.gallery-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery img {
  height: 420px;
  border-radius: 12px;
}

.gallery-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ddd;
  padding: 8px 12px;
  cursor: pointer;
}

.gallery-btn.left {
  left: -10px;
}

.gallery-btn.right {
  right: -10px;
}

/* DESCRIPTION */

.product-description {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 14px;
}

/* BUTTON */

.order-btn {
  display: inline-block;
  padding: 12px 24px;
  background: #c98ca3;
  color: white;
  text-decoration: none;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #eee;
  font-size: 13px;
}

.lang-switch {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #888;
}

.lang-switch span {
  cursor: pointer;
  transition: 0.3s ease;
}

.lang-switch span:hover {
  color: #c98ca3;
}

.footer {
  border-top: 1px solid #eee;
  padding: 40px 20px;
  margin-top: 80px;
}

.footer-inner {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #888;
}

.footer-lang span {
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-lang span:hover {
  color: #c98ca3;
}

.footer-lang .divider {
  margin: 0 8px;
  cursor: default;
}
